.anim-list-stagger > *:nth-child(2) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms; }

.anim-list-stagger > *:nth-child(3) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms; }

.anim-list-stagger > *:nth-child(4) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms; }

.anim-list-stagger > *:nth-child(5) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms; }

.anim-list-stagger > *:nth-child(6) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms; }

.anim-list-stagger > *:nth-child(7) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms; }

.anim-list-stagger > *:nth-child(8) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms; }

.anim-list-stagger > *:nth-child(9) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms; }

.anim-list-stagger > *:nth-child(10) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms; }

.anim-list-stagger > *:nth-child(11) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms; }

.anim-from-left {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-animation: left 500ms 1;
          animation: left 500ms 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.anim-from-right {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  -webkit-animation: right 500ms 1;
          animation: right 500ms 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.anim-from-top {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  opacity: 0;
  -webkit-animation: top 500ms 1;
          animation: top 500ms 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.anim-scale-x {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: scaleX 500ms 1;
          animation: scaleX 500ms 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.anim-scale-y {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: scaleY 500ms 1;
          animation: scaleY 500ms 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.anim-fade-in {
  opacity: 0;
  -webkit-animation: fade 500ms 1;
          animation: fade 500ms 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: reverse;
          animation-direction: reverse; }

.anim-fold-in {
  opacity: 0;
  -webkit-animation: foldIn 150ms 1;
          animation: foldIn 150ms 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

.anim-delay-100 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms; }

.anim-delay-200 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms; }

.anim-delay-300 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms; }

.anim-delay-400 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms; }

.anim-delay-500 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms; }

.anim-delay-600 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms; }

.anim-delay-700 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms; }

.anim-delay-800 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms; }

.anim-delay-900 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms; }

.anim-delay-1000 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms; }

.anim-dur-100 {
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms; }

.anim-dur-200 {
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms; }

.anim-dur-300 {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms; }

.anim-dur-400 {
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms; }

.anim-dur-500 {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms; }

.anim-dur-600 {
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms; }

.anim-dur-700 {
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms; }

.anim-dur-800 {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms; }

.anim-dur-900 {
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms; }

.anim-dur-1000 {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms; }

@-webkit-keyframes left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150%);
            transform: translateX(150%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150%);
            transform: translateX(150%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes bottom {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes bottom {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes scaleX {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@keyframes scaleX {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); } }

@-webkit-keyframes scaleY {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes scaleY {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@-webkit-keyframes foldIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) rotateX(-45deg);
            transform: translateY(-20px) rotateX(-45deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0); } }

@keyframes foldIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) rotateX(-45deg);
            transform: translateY(-20px) rotateX(-45deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0); } }
